* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    max-width: 1920px;

}

header {
    width: 100%;
    line-height: 4rem;
    overflow: hidden;
    font-weight: 500;
}

 nav,
 .column {
    display: inline-block;
} 

.hd-clrfx::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    height: 4rem;
    padding-left: 1rem;
    width: calc(10% - 1rem);
}

.logo img {
    vertical-align: middle;
}

.logo,
.hd-clrfx {
    float: left;
}

.hd-clrfx {
    width: 85%;
    height: 4rem;
}

.column a {
    display: inline-block;
    text-align: center;  
    line-height: .5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1rem;
    color: black;
}

.hd-left {
    float: left;
}

.hd-right {
    float: right;
}

.hd-butt {
    float: right;
    width: calc(5% - 1rem);
    text-align: right; 
    line-height: 4rem; 
    margin-right: 1rem;
}
.blue-btn {
    background-color: rgb(24, 117, 255);
    color:white;
    text-decoration: none;
    vertical-align: middle; 
    padding: .5rem 1rem;
}


header a {
    text-decoration: none;
}

.column a:hover {
    border-bottom: solid 2px black;
}

/* Sezione1 */

.sezione1 {
    background: #B4D0E7;
    width: 100%;
    height: 810px;
    position: relative;
}

.container-sez1 {
    width: 85%;
    margin: 0 auto;
}

.tit-sez1 {
    font-size: 80px;
    padding: 70px 0 40px 0;
}

.clrfx {
content: "";
display: table;
clear: both;
}

.sez1-left {
    float: left;
    width: 30%;
}

.sez1-right {
    float: right;
    width: calc(70% - 40px);

}

.sez1-right img {
    width: 100%;
    height: 100%;
}

.sez1-text  {
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.sez1-left p {
    padding: 1rem 0;
}

.bi-arrow-down-short {
    margin-left: -20px;
}

