* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 1920px;
}

header {
    width: 100%;
    line-height: 4rem;
    height: 4rem;
    font-weight: 500;
    position: fixed;
    top: 0;    
    background: white;
    z-index: 99;
}

 nav,
 .column {
    display: inline-block;
} 

.hd-clrfx::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    height: 4rem;
    padding-left: 1rem;
    width: calc(10% - 1rem);
}

.logo img {
    vertical-align: middle;
}

.logo,
.hd-clrfx {
    float: left;
}

.hd-clrfx {
    width: 85%;
    height: 4rem;
}

.column a {
    display: inline-block;
    text-align: center;  
    line-height: 4rem;
    margin: 0 1.2rem;
    color: black;
}

.hd-left {
    float: left;
}

.hd-right {
    float: right;
}

.hd-butt {
    float: right;
    width: calc(5% - 1rem);
    text-align: right; 
    line-height: 4rem; 
    margin-right: 1rem;

}

.blue-btn {
    background-color: rgb(24, 117, 255);
    color:white;
    text-decoration: none;
    vertical-align: middle; 
    padding: .5rem 1rem;    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 10rem;
    display: none;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    text-align: center;
    z-index: 99;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    line-height: 2rem;
    margin: 0 auto;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header a {
    text-decoration: none;
}

.column a:hover {
    border-bottom: solid 2px black;
}


.butt-hov:hover {
    background: rgba(24, 116, 255, 0.8);
}

/* Sezione1 */

.sezione1 {
    background: #B4D0E7;
    width: 100%;
    height: 870px;
}

.container-sez1-footer {
    width: 85%;
    max-width: 1620px;
    margin: 0 auto;
}

.tit-sez1 {
    font-size: 90px;
    padding: 110px 0 40px 0;
}

.clearfix::after {
content: "";
display: table;
clear: both;
}

.sez1-left {
    float: left;
    width: 30%;
}

.sez1-right {
    float: right;
    width: calc(70% - 40px);
}

.sez1-right img {
    width: 100%;
    height: 100%;
}

.sez1-text  {
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.sez1-left p {
    padding: 1rem 0;
}

.bi-arrow-down-short {
    margin-left: -20px;
}

/* sezione2 */

.container {
    width: 70%;
    max-width: 1620px;
    margin: 0 auto;
}

.sezione2 {
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    height: 1000px;
}

.radio {
    display: inline-block;  
    padding-right: 2rem;  
}

.sezione2 h2 {
    font-size: 60px;
    padding-bottom: 30px;
}

.col {
    float: left;
    width: calc(100% / 3 - 3rem);
    margin: 0 1.5rem;
}

.sdb-left {
    margin-left: 0;
    margin-right: 3rem;
}
.sdb-right {
    margin-left: 3rem;
    margin-right: 0;
}

.text-col-small {
    width: 80%;
    margin: 30px auto;
}

.text-col {
    height: 1100px;
}

.tit-col,
.text-col {
    border: solid 1px lightslategray;
}

.tit-col {
    text-align: center;
    line-height: 2rem;
    margin-top: 2rem;
    border-bottom: none;
}

h3 {
    font-size: 32px;
}

.sezione2 p {
    line-height: 1rem;
    margin-top: 1.5rem;
}

.costo {
    font-weight: bolder;
}

.grigio {
    color: lightslategray;
    margin-top: .5rem;
}
    
 .costo,
 .grigio {
     display: inline-block;
 }

.sezione2 .link {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.sezione2 .blue-btn {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.link-sott-blu {
    color: rgb(24, 117, 255);
}

.sezione2 hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 15%;
}

/* tabella enterprise */

.tab-enterprise {
    margin-top: 3rem;
}

.tab-enterprise .text-col-small {
    width: 95%;
}

.tab-enterprise .clearfix {
    border: solid 1px lightslategray;
}

.tab-enterprise .costo {
    margin-top: 1rem;
}

.tab-enterprise .paragr-dist {
    margin: 2rem 0;
}

.tab-enterprise .ent-sidebar {
    float: left;
}

.tab-enterprise .col-left {
    width: 70%;
}

.tab-enterprise .col-right {
    width: 30%;
}

.ent-sidebar .blue-btn {
    display: inline-block;
    text-align: center;
    width: 100%;
}

/* sezione 3 */

.sezione3 {
    width: 100%;
    height: auto;
    word-spacing: 2px;
    margin-top: 200px;
}

.sez3-left {
    margin-top: 200px;
    float: left;
    width: 55%;
}

.sez3-left img {
    width: 100%;
    height: 100%;
}

.sez3-right {
    float: right;
    width: calc(40% - 2rem);
    margin-top: 240px;
}

.sez3-text {
    margin-top: 2rem;
    line-height: 1.5rem;
}

.sezione3 .white-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: solid 2px black;
    padding: .2rem 1rem;
    margin-top: 1.5rem;
}

.grey-btn:hover {
    background: rgb(228, 232, 235);
}

/* section 4 */


.sezione4 h2 {
    font-size: 60px;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.sezione4 .col {
    margin-bottom: 5rem;
}

.underline-text {
    text-decoration: underline;
}

.sezione4 .col img {
    width: 100%;
    height: 100%;
}

.sezione4 h3 {
    margin-bottom: 1.5rem;
}

/* section 5 */

.sezione5 h2 {
    width: 49%;
    font-size: 50px;
    margin-top: 100px;
}

.sezione5 .par-link-sott {
    margin: 1.5rem 0;
}

.sezione5 .dim-clrfx {
    width: 100%;
    height: calc((1920px - 40%) / 2);
}

.sezione5 .sidebar {
    float: left;
    width: 30%;
}

.sez5-col {
    position: relative;
    height: 285.44px;
}

.sez5-col img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.green {
    background: #A2D39B;
    border: solid 10px #D0E9CD;
}

.rly-dark-red {
    background: #61082B;
}

.blue-medium {
    background: #5BAFCD;
}

.light-red {
    background: #FF1C1C;
}

.red-medium {
    background: #D5001F;
}

.light-blue {
    background: #B4D0E7;
}

.blue {
   background: #0D2481;
}

.yellow {
    background: #FFD830;    
}



/* .sez5-col {
    width: 50%;
    height: 50%; */


/* .sez5-col {
    height: 0;
    padding-bottom: 50%;
} */

.sezione5 .content {
    float: left;
    width: 40%;
    height: 570.88px;
    position: relative;
}

.sezione5 .cont-container {
    width: 80%;
    margin: 2rem auto;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sezione5 .sez5-col {
    float: left;
    width: 50%;    
}

.sezione5 .content {
    background: #F5F5F5;
    overflow: auto;
}

.sezione5 .content img {
    width: 25%;
    margin-bottom: 3rem;
}

.sezione5 .content hr {
    width: 10%;
    margin-bottom: 3rem;
}

.sezione5 .content .cont-text {
    margin-bottom: 2rem;
    vertical-align: middle;
}

.sezione5 .content .cont-author {
    margin-bottom: 5rem;
}

.sezione5 .sidebar div {
    text-align: center;
}

.sezione5 .sidebar img {
    width: 50%;
    height: 50%;
}

/* section 6 */

.sez6-blu {
    background: #B4D0E7;
    height: auto;
}

.sez6-blu .container {
    margin: 0 auto;
    text-align: center;
}

.sez6-sdb-text {
    float: left;
    width: 55%;
    margin: 6rem 0;
}

.sez6-sdb-text h2 {
    color: #61082B;
    font-size: 50px;
    text-align: left;
} 

.sez6-sdb-button {
    float: left;
    width: 45%;
    text-align: right;
    margin: 6.5rem 0;

}

.sez6-sdb-button a {
    color: black;
    text-decoration: none;
    background: white;
    padding: .5rem 3rem;
}


/* section 7 */

.sezione7 {
    margin: 5rem 0;
}

.sezione7 h3 {
    margin-bottom: 2.5rem;
}

.sez7-lines {
    line-height: 5rem;
}

.sezione7 span {
    display: inline-block;
}

.fas {
    vertical-align: middle;
}

.sezione7 .hidden-text {
    line-height: 1.2rem;
    color: #999999;
    margin-bottom: 1.5rem;

}

.sezione7 .underline {
    text-decoration: underline;
}

.sezione7 .p-left {
    float: left;
    width: 90%;
}

.sezione7 .span-right {
    float: right;
    width: 10%;
    text-align: center;
}

.hidden-text,
.hidden-arrow {
    display: none;
}

.sez7-lines:hover .hidden-text {
    display: inline-block;
}

.sez7-lines:hover .fa-chevron-down {
    display: none;
}

.sez7-lines:hover .hidden-arrow {
    display: inline-block;
}

/* Footer */

footer {
    background: black;
    color: white;
    padding-top: 5rem;
    padding-bottom: 2rem;
    width: 100%;
}

.col-footer {
    float: left;
    width: 20%;
    margin-bottom: 5rem;
}

.col-footer h4 {
    margin: 2rem 0;
    font-size: 30px;
}

.col-footer a {
    text-decoration: none;
    color: white;
    line-height: 1.8rem;
}

.col-footer a:hover {
    text-decoration: underline;
}

.container-sez1-footer hr {
    width: 10%;
}

 footer .lingua {
    margin-top: 2rem;
} 

footer hr {
    border-color: #999999;
}

footer .lingua {
    color: #999999;
}

footer .lingua a {
    text-decoration: none;
    color: #999999;
}